<center><h1 class='pg2h1'><img class='wanted' src='images/TrueLife.jpg' alt='true;ofe'><br>I'm a Coder</h1></center>
 	<center><button><a href="index.ejs"><img src="http://trinities.org/blog/wp-content/uploads/back-to-the-past.jpg" alt="BTTP Img" style="width: 150px; height:100px;"></a></button></center>
    <center><p class='quote2'>Coders get out alive</p></center>

    <center><table>
    	<tr>
    		<td id="bio">Scenario 1</td>
    		<td id="favs">Scenario 2</td>
    		<td id="clwo">Scenario 3</td>
    		<td id="rw">Scenario 4</td>
    		<td id="hobbies">Scenario 5</td>
    	</tr>

    </table></center>

		<center><div class='bio2'>
			<h3>Web Developer</h3>
			<img class='scenpic' src="https://s-media-cache-ak0.pinimg.com/736x/9b/fe/f0/9bfef0c0bb3a3cf817872aacf209667f.jpg">
		</div></center>


    	<center><div class='favs2'>
			
			<h3>Web Designer</h3>
			<img class='scenpic' src="https://i.imgur.com/Q3cUg29.gif">

		</div></center>

		<center><div class='clwo2'>

			<h3>App Developer</h3>
			<img class='scenpic' src="http://www.qahipster.com/uploads/8/1/4/4/8144013/3652477_orig.jpg">

		</div></center>

		<center><div class='rw2'>

			<h3>Cowboy Astrounaut Billionaire</h3>
			<img class='scenpic' src="http://i.imgur.com/CRcKPj8.jpg">

		</div></center>

		<center><div class='hob2'>

			<h3>Homeless</h3>
			<img class='scenpic' src="http://www.williamrobertson.com/assets/images/will-robertson-will-code-html-for-food.jpg">

		</div></center>