    <center><h1 class='pg1h1'><img class='wanted' src='http://web.redding.com/images/misc/wanted-responsive.png' alt='wanted'><br>Arian Flores</h1></center> 
    <center><h2 class='aka'><strong>aka: Ari</strong></h2></center>

    <center><button><a href="index2.ejs"><img class='button' src="http://net.archbold.k12.oh.us/ahs/web_class/Spring_14/MustWatchMovies_Short/Images/BTTF%20Picture%201.jpg" alt="BTTF Img" style="width: 150px; height:100px;"></a></button></center> 

    <center><p class='quote'>“Do not take life too seriously; you will never get out of it alive."<br><i>Elbert Hubbard</i></p></center>
  
    <center><table>
    	<tr>
    		<td id="bio">BIO</td>
    		<td id="favs">FAVORITES</td>
    		<td id="clwo">CAN'T LIVE WITH-OUT'S</td>
    		<td id="rw">RUN-MAPS</td>
    		<td id="hobbies">HOBBIES</td>
    	</tr>

    </table></center>

		<div class='bio2'>
			<center><p align='justify' class='bio3'>My name is Arian Flores, but my friends call me Ari. I am a 25-year-old native New Yorker, Vanderbilt graduate, and former Bloomberg employee. I am a very organized, kind, and shy-at-first-but-will-never-shut-up-once-I-get-to-know-you type of guy. According to Myers &amp; Briggs I'm an 'ENFJ' personality type, although I really don't like to believe I'm extravertverted :-P. </p></center>

			<center><p align='justify' class='bio3'> I really enjoy making people laugh, even in the most uncomfortable or awkward of situations. My friends, however, consider me to be very clever albeit corny when it comes to some of my jokes. When ever I need to blow off some steam you'll find me taking a long jog to clear my mind.</p></center>

			<center><p align='justify' class='bio3'> I am looking forward to Galvanizing my life!</p></center>
		</div>


    	<div class='favs2'>
			<ul class='fav3'>

			<li> <b>Travel: </b>New Zealand</li>
			<li> <b>Book: </b>'Game of Thrones' - George R.R. Martin</li>
			<li> <b>Podcast: </b>'Hello Internet'</li>
			<li> <b>Band: </b>'Phoenix'</li>
			<li> <b>Show: </b>'How I met your Mother'</li>
			<li> <b>Food: </b>'Mexican'</li>

			</ul>

		</div>

		<div class='clwo2'>
			<ul class='clwo3'>

			<li><b>(1)</b> Laptop/iPhone (duh)</li>
			<li><b>(2)</b> Coffee...see below for visual</li>
			<li><b>(3)</b> North-face backpack (circa 2004)</li>
			<li><b>(4)</b> Chipotle</li>
			<li><b>(5)</b> My Dylan-esque Ray Bans</li>

			</ul>
		</div>

		<div class='rw2'>
			<ul class='rw3'>

			<li><b>Lower Manhattan</b></li>
				<ul><li><img class='rwpic' src='images/Manhattan_Tip.png' alt='citytip'></li></ul>
			<li><b>Central Park Resiviour</b></li>
				<ul><li><img class='rwpic' src='images/CentralPark_Run.png' alt='citypark'></li></ul>
			<li><b>Prospect Loop</b></li>
				<ul><li><img class='rwpic' src='images/Prospect_Run.png' alt='cityrun'></li></ul>
		
			</ul>

		</div>

		<div class='hob2'>
			<ul class='hob3'>

			<center><li><b>Practicing Martial Arts</b><br><img class='hobpic' src='http://i.ytimg.com/vi/KZ3VCjY6hfU/maxresdefault.jpg' alt='TWD img'></li></center>
			<center><li><b>Playing Guitar</b><br><img class='hobpic' src='https://s-media-cache-ak0.pinimg.com/236x/a3/12/91/a3129121302fdb1ed7eb9a8f0a1c4734.jpg' alt='G img'></li></center>
			<center><li><b>Developing on the Web</b><br><img class='hobpic' src='https://wutcode.files.wordpress.com/2013/12/31804326.jpg' alt='Web img'></li></center>
		
			</ul>
		</div>