<aside class='cofleft'>
	    <center><h2 class='pg1foot'>Suspect seen here before Coffee</h2></center>

  		<img class='gif2' src="http://oi53.tinypic.com/33a5pjt.jpg" alt="Everything sux">

  		</aside>

  		<aside class='cofright'>	    

  		<center><h2 class='pg1foot'>Suspect seen here after Coffee</h2></center>

  		<img class='gif1' src="http://33.media.tumblr.com/03e1512af92856988dc7b44a2a263796/tumblr_n0yewddtMd1rf8id2o1_400.gif" alt="Everything is Awesome">

</aside>