<center><aside class='cofleft2'>
	   		
	   		<h2 class='pg2foot'>Ari on First day of G-School</h2>
			<img class='gif3' src="https://media.giphy.com/media/3rgXBK5ADOuzBWVfjO/giphy.gif">

</aside></center>