  <title>Arian Flores</title>
  <style>
	  body {background-image: url("images/Wood_Floor_bkRd.jpg");
	  background-repeat: no-repeat;
	  background-position: 50% 0%;}
  </style>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <script src="/jquery.js"></script>
  <script src='/script.js'></script>