    <meta charset="utf-8">
    <title>Ari Coder</title>
    <style>
        body {background-color: #000000;
    	background-repeat: no-repeat;
    	background-position: 50% 0%;}
    </style>
    <link rel="stylesheet" href="/main.css">
    <script src="/jquery.js"></script>
    <script src='/script.js'></script>